.roulette {
    width: 65%;
    justify-content: unset;
    margin-top: 1%;
    margin-left: 1%;
  }
td {
    border: 1px solid white;
    vertical-align: middle;
  }
.roulette table {
  width: 100%;
  border-collapse: unset;
}


.roulette-cont-lft {
  width: 65%;
}

.roulette-cont-rgt {
  width: 34%;
  display: inline-block;
  padding: 1%;
}

.roulette-cont-lft {
  width: 64%;
  display: inline-block;
}

#winning-number {
  width: 25%;
  max-width: 120px;
  margin: 0 auto;
  text-align: center;
  min-height: 126px;
  font-size: 30px;
  vertical-align: middle;
  display: flex;
  place-items: center;
  margin: 3% auto;
  border:5px solid gold;
  justify-content: center;
}

.roulette-cont-rgt {

  width: 32%;
  float: right;
}

.roulette-cont-lft {
  float: left;
}


.roulette {
  width: 100%;
  padding: 1%;
}

section{
  width:100%;
  padding: 1%;
}
.black{background-color:black;color:white;}
.red{	background-color:red;color:black;}
.green{	background-color:green;	color:white;}

.card-lft {
  width: 50%;
  float: left;
}

.card-rgt {
  width: 50%;
  float: right;
}

.card {
  /* width: 30%; */
  width: 70%;
}
#bets{
  min-height: 100px;
}

#balance {
  font-size: 20px;
  margin: 2%;
}

#usersList {
  font-size: 20px;
  margin-left: 6%;
  list-style: circle;
}

#usersList li {
  margin-top:2px;
  margin-bottom: 3px;
}

h1 {
  font-size: 46px;
}
